/* styles/dashboard.css */

/* General styles */
.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
}

.logout-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/* Responsive styles */
@media only screen and (max-width: 240px) {
  .dashboard-container {
    padding: 10px;
  }

  .dashboard-title {
    font-size: 18px;
  }

  .logout-button {
    font-size: 14px;
  }
}

@media only screen and (min-width: 241px) and (max-width: 320px) {
  /* Add specific styles for the 241px to 320px range */
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  /* Add specific styles for the 321px to 480px range */
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
  /* Add specific styles for the 481px to 640px range */
}

@media only screen and (min-width: 641px) and (max-width: 560px) {
  /* Add specific styles for the 641px to 560px range */
}

@media only screen and (min-width: 561px) and (max-width: 780px) {
  /* Add specific styles for the 561px to 780px range */
}

@media only screen and (min-width: 781px) and (max-width: 1080px) {
  /* Add specific styles for the 781px to 1080px range */
}

/* Add more media queries as needed for larger screens */
